body {
  font-family: 'Mulish', sans-serif;
}

p {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 1.6;
}

.sub-heading,
.white-sub-heading {
  font-size: 14px;
  color: #a47355 !important;
  line-height: 1.2;
  text-align: left;
  font-weight: 800;
  padding-left: 88px;
  letter-spacing: 1.2px;
  position: relative;
  text-transform: uppercase;
  margin-top: 0;

  &:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #a47355;
    left: 0;
    top: 6px;
  }

  &:after {
    content: '';
    position: absolute;
    background: #a47355;
    top: 8px;
    left: 14px;
    height: 2px;
    opacity: 1;
    width: 50px;
    opacity: 0.5;
  }
}

.white-sub-heading {
  color: #fff !important;

  &:before {
    background: #fff;
  }

  &:after {
    background: #fff;
  }
}
